<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>       

        <ion-item *ngFor="let item of items">
            <!-- <ion-icon name="leaf" item-start></ion-icon> -->
            <ion-label>{{ item.label }}</ion-label>
            
                <ion-toggle *ngIf ="item.type == 'Switch'" checked="false" (ionChange)="setState(item)"></ion-toggle>
            
          </ion-item>

      </ion-list>
  
</ion-content>
