<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>Conexión</h3>
  
  <ion-list>

      <ion-item>
        <ion-label floating>Url de servidor</ion-label>
        <ion-input type="text"  [(ngModel)]="todo.url"></ion-input>
      </ion-item>      

      <ion-item>
          <ion-label floating>Usuario</ion-label>
          <ion-input type="text"  [(ngModel)]="todo.user"></ion-input>
        </ion-item>      
    
      <ion-item>
        <ion-label floating>Contraseña</ion-label>
        <ion-input type="password"  [(ngModel)]="todo.pass"></ion-input>
      </ion-item>
    
    </ion-list>
  
</ion-content>